{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}IMDb{% endblock %}</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
</head>
<body>
<div class="nav">
    <div class="link"><a href="">Homepage</a></div>
    <div class="link"><a href="{% url 'movie:movie_list' %}">Movies</a></div>
    <form method="get" action="{% url 'movie:movie_search' %}" accept-charset="UTF-8">
        {{ search_form.as_p }}
        <!-- <input type="text" placeholder="Search..."/>
        <button type="submit" value="Submit">
            <i class="fa fa-search"></i>
        </button> -->
    </form>
    <div id="sidebar">
    {% if request.user.is_authenticated %}
        <h3>
          Welcome, {{ request.user.username }}!
        </h3>
        <a href="{% url "accounts:logout" %}">Log-out</a>
    {% else %}
      <a href="{% url "accounts:login" %}">Log-in</a>
    {% endif %}
  </div>

    <div class="link" id="about"><a href="">About</a></div>
</div>
{% block content %}
{% endblock %}
</body>
</html>
