{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns:accounts="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}IMDb{% endblock %}</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
</head>
<body>
<div class="nav">
    <div class="link"><a href="{% url 'homepage:homepage' %}">Homepage</a></div>
    <div class="link"><a href="{% url 'movie:movie_list' %}">Movies</a></div>
    <form method="get" action="{% url 'movie:movie_search' %}" accept-charset="UTF-8">
        {{ search_form.as_p }}
        <!-- <input type="text" placeholder="Search..."/>
        <button type="submit" value="Submit">
            <i class="fa fa-search"></i>
        </button> -->
    </form>
    {% if request.user.is_authenticated %}
    <div class="link"><a href="{% url 'accounts:profile' profile_id=request.user.profile.id %}">Profile</a></div>
    <div class="link"><a href="{% url 'accounts:logout' %}">Log-out</a></div>
    {% else %}
    <div class="link"><a href="{% url 'accounts:login' %}">Log-in</a></div>
    {% endif %}
    <div class="link" id="about"><a href="">About</a></div>
</div>
{% block content %}
{% endblock %}
</body>
</html>
